<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Efiewura", root_path, id: "logo" %>
      <nav>
          <ul class="nav pull-right">
          <li><%= link_to "How it Works",    how_it_works_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
        <%= link_to "Rent your house!", "#", class: "btn btn-small btn-info" %>
      </nav>
    </div>
  </div>
</header>